@model Parking.Models.PriceTable

@{
    ViewData["Title"] = "Edit";
}
<h1>Edição de Tabela de Preços</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InicioVigencia" class="control-label"></label>
                <input asp-for="InicioVigencia" class="form-control" />
                <span asp-validation-for="InicioVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FimVigencia" class="control-label"></label>
                <input asp-for="FimVigencia" class="form-control" />
                <span asp-validation-for="FimVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorHoraInical" class="control-label"></label>
                <input asp-for="ValorHoraInical" class="form-control" />
                <span asp-validation-for="ValorHoraInical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorHoraAdicional" class="control-label"></label>
                <input asp-for="ValorHoraAdicional" class="form-control" />
                <span asp-validation-for="ValorHoraAdicional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <input class="btn btn-success" type="Submit" value="Voltar">
    </a>
</div>

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
